html,
body {
    background: #FF416C;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Chivo', sans-serif;
    color: #ffffff;
}



input[type=text] {
    border: 1px solid #ffffff;
    outline: 0;

}

.poi,
.cheapest-date,
.flight-offer {

    cursor: pointer;
}

.poi:hover,
.cheapest-date:hover,
.flight-offer:hover {

    font-size: 125%;
}


a {

    color: white;

}

a#go-to-top {

    position: fixed;
    bottom: 10px;
    right: 10px;
}